<h3>
  {{ class_data.name }}
</h3>

<p>
  {{ class_data.desc }}
</p>

<div *ngIf="students_in_class">
  <h4>
    Students Enrolled in This Class
  </h4>

  <ul>
    <li *ngFor="let student of students_in_class">
      <a [routerLink]="['/students', student.link]">
        {{ student.first_name }} {{ student.last_name }}
      </a>
    </li>
  </ul>

</div>

<button (click)="gotoClassesHomePage()">
    All Classes
</button>
<button *ngIf="student" (click)="openUpdateForm()">
  Update Class Details
</button>

<div *ngIf="show_update_form">
<h4> Update Class Details </h4>
  <form [formGroup]="updateClassForm" (ngSubmit)="updateClassDetails()">
    
    <label>
      Class Name: 
      <input type="text" formControlName="name" placeholder="Name of the class. E.g. Biology">
    </label>

    <label>
      Class Description:
      <textarea cols="30" rows="10" formControlName="desc" placeholder="Enter description about the subject matter coverage of this class."> </textarea>
    </label>

    <input type="submit" name="submit" value="Update Class Details" [disabled]="!updateClassForm.dirty">
  </form>
</div>

<div>
    <p *ngIf="classUrl">
        <button (click)="deleteClass()">Remove this Class from Syllabus</button>
      </p>
  <p *ngIf="class_delete_error_message">
    {{ class_delete_error_message }}
  </p>      
</div>

<div *ngIf="form_is_submitted">

    <p *ngIf="class_update_success_message">
      {{ class_update_success_message}}
    </p>
    <p *ngIf="class_update_error_message">
      {{ class_update_error_message }}

    </p>
</div>