<h3>
  {{ class_data.name }}
</h3>

<p>
  {{ class_data.desc }}
</p>

<div *ngIf="students_in_class">
  <h4>
    Students Enrolled in This Class
  </h4>

  <ul>
    <li *ngFor="let student of students_in_class">
      <a [routerLink]="['/students', student.link]">
        {{ student.first_name }} {{ student.last_name }}
      </a>
    </li>
  </ul>

</div>

<button (click)="gotoClassesHomePage()">
    All Classes
</button>

<a *ngIf="student" href="#update-class">Update Class Details</a>
<div>
  <form (ngSubmit)="updateClass()">
    <label>Name:
        <input type="text" [name]="class_data.name" > {{ class_data.name }}

    </label>
    
  </form>
</div>

<div>
    <p *ngIf="classUrl">
        <button (click)="deleteClass()">Remove this Class from Syllabus</button>
      </p>
  <p *ngIf="class_delete_error_message">
    {{ class_delete_error_message }}
  </p>      
</div>