<h3>
  {{ student.first_name|uppercase }} {{ student.last_name }}
</h3>



<div *ngIf="UrlsforClasses">
    <h4>
        Classes Enrolled In this Semester
    </h4>
    <!-->button (click)="getClassesforStudent()">Show Classes Data</button-->
  <ul *ngIf="student_class_list">
      <li *ngFor="let class of student_class_list">
        <a [routerLink]="['/classes', class.link]">
            {{ class.name }}
        </a>
      </li>
  </ul>
</div>


<div *ngIf="class_data">
  <h4>
    {{ class_data.name }}
  </h4>
  <p>
    {{ class_data.desc }}
  </p>

  <a [routerLink]="['/classes', class_data.link]">More About this Class</a>.
</div>