<!--h3>
  {{ student.first_name|uppercase }} {{ student.last_name }}
</h3>

<p *ngIf="student_error_message">
  {{ student_error_message }}

</p>

<div *ngIf="UrlsforClasses">
    <h4>
        Classes Enrolled In this Semester
    </h4>
    <button (click)="getClassesforStudent()">Show Classes Data</button>
  <ul *ngIf="student_class_list">
      <li *ngFor="let class of student_class_list">
        <a [routerLink]="['/classes', class.link]">
            {{ class.name }}
        </a>
      </li>
  </ul>
</div-->


<p *ngIf="student">
    <button on-click="deleteStudent()">Delete this Student</button>
  
    <button (click)="openUpdateForm()">
        Update this Student's Info
    </button>
</p>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> {{ student.first_name }}</mat-card-title>
      <mat-card-subtitle> {{ student.last_name}}  </mat-card-subtitle>
    </mat-card-header>
    <!---img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"-->
    <mat-card-content>
      <h4>
        Classes Currently Enrolled In
      </h4>
      <ul>
          <li *ngFor="let class of student_class_list">
            <a [routerLink]="['/classes', class.link]">
              {{ class.name }}
            </a>
            <button (click)="deleteClass()">X</button>
          </li>
        </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openUpdateForm()">Update Student</button>
      <button mat-button (click)="deleteStudent(student)">Delete Student</button>
    </mat-card-actions>
  </mat-card>


<button (click)="goToStudentsHomePage()">
  Students Home
</button>


<div *ngIf="show_update_form" class="update_form">
    <form [formGroup]="updateStudentForm" (ngSubmit)="updateStudent()">
    
    <p>
        <label>
            First Name: 
            <input type="text" formControlName="first_name">
        </label>
    </p>
   
    <p>
        <label>
            Last Name: 
            <input type="text" formControlName="last_name">
          </label>
    </p>
   
     <input type="submit" value="Update Student's Info" [disabled]="!updateStudentForm.dirty">
   
    </form>
   </div>


<div *ngIf="form_is_submitted">
    <b> First Name:</b> {{ updateStudentForm.controls.first_name.value }}
  
    <b> Last Name:</b> {{ updateStudentForm.controls.last_name.value }}

    <p *ngIf="student_update_success_message">
      {{ student_update_success_message}}
    </p>
    <p *ngIf="student_update_error_message">
      {{ student_update_error_message }}

    </p>
</div>