<h3>
  {{ student.first_name|uppercase }} {{ student.last_name }}
</h3>

<p *ngIf="student_error_message">
  {{ student_error_message }}

</p>

<div *ngIf="UrlsforClasses">
    <h4>
        Classes Enrolled In this Semester
    </h4>
    <!-->button (click)="getClassesforStudent()">Show Classes Data</button-->
  <ul *ngIf="student_class_list">
      <li *ngFor="let class of student_class_list">
        <a [routerLink]="['/classes', class.link]">
            {{ class.name }}
        </a>
      </li>
  </ul>
</div>


<div *ngIf="class_data">
  <h4>
    {{ class_data.name }}
  </h4>
  <p>
    {{ class_data.desc }}
  </p>

  <a [routerLink]="['/classes', class_data.link]">More About this Class</a>.
</div>

<button (click)="goToStudentsHomePage()">
  Students Home
</button>

<p *ngIf="student">
  <button on-click="deleteStudent()">Delete this Student</button>

  <button (click)="openUpdateForm()">
      Update this Student's Info
  </button>
</p>

<div *ngIf="show_update_form">
    <form [formGroup]="updateStudentForm" (ngSubmit)="updateStudent()">
    
     <label>
       First Name: 
       <input type="text" formControlName="first_name">
     </label>
   
     <label>
       Last Name: 
       <input type="text" formControlName="last_name">
     </label>
   
     <input type="submit" value="Update Student's Info" [disabled]="!updateStudentForm.dirty">
   
    </form>
   </div>


<div *ngIf="form_is_submitted">
    <b> First Name:</b> {{ updateStudentForm.controls.first_name.value }}
  
    <b> Last Name:</b> {{ updateStudentForm.controls.last_name.value }}

    <p *ngIf="student_update_success_message">
      {{ student_update_success_message}}
    </p>
    <p *ngIf="student_update_error_message">
      {{ student_update_error_message }}

    </p>
</div>